* {
  margin: 0px;
  padding: 0px;
}

body {
  /* display: flex; */
  /* align-items: center; */
  height: 100vh;
  font-family: "Anton", sans-serif;
  background: rgb(236, 236, 236);
}

.container {
  /* margin-top: 30px; */
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "left left centerTop centerTop centerTop right right"
    "sideL sideL center center center sideR sideR"
    "sideL sideL center center center sideR sideR"
    "sideL sideL foot foot foot sideR sideR";
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.player {
  font-size: 2rem;
}

.playerScore {
  font-size: 1.5rem;
}

.centerTop {
  grid-area: centerTop;
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px; */
  height: 200px;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.computer {
  font-size: 2rem;
}

.compScore {
  font-size: 1.5rem;
}

.playerChoices {
  grid-area: sideL;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.compChoices {
  grid-area: sideR;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rock {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.paper {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.scissor {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.compRock {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.compPaper {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.compScissor {
  width: 50px;
  margin: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.playerChoice {
  height: 120px;
  width: 120px;
  margin: 60px;
  /* padding: 20px; */
  /* border-style: solid; */
  border-width: 5px;
  border-color: black;
}

.bar {
  height: 250px;
  align-self: center;
}

.compChoice {
  height: 120px;
  width: 120px;
  margin: 60px;
  /* padding: 20px; */
  /* border-style: solid; */
  border-width: 5px;
  border-color: black;
}

.modal {
  height: 100%;
  width: 100%;
  background: rgba(219, 29, 29, 0.884);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  height: 500px;
}

.hidden {
  display: none;
}
